@charset 'utf-8';
/*
    Color Scheme 2.
    Refer Design/CS Candidate 2.png
    Notes: Adjusted to work better. Still don't quite like the header.
    
    Name:           Dillon Geier
    Date Authored:  02/08/2019
    Last Updated:   03/01/2019
*/

/* ES */
html {
    background-color: #78777F;
}

/* Base */
body {
    border: thin solid #3030db;
    background-color: white;
}

aside {
    background-color: white;
}

aside h2 {
    border-bottom: thin solid #3030db;
}

/* Header */
header {
    background-color: #3030db;
    color: #bae1ff;
}

/* Footer */
footer {
    background-color: #5900AD;

    background-image: linear-gradient(#5900AD 30%, #28004e);
    background-image: -moz-linear-gradient(#5900AD 30%, #28004e);
    background-image: -webkit-linear-gradient(#5900AD 30%, #28004e);
    background-image: -o-linear-gradient(#5900AD 30%, #28004e);

    color: white;
    border-top: 2px solid #24be00;
}

footer a:link,
footer a:visited {
    color: white;
}

footer a:active {
    color: #CCC;
}

/* Navigation */
nav {
    background-color: #00C1C4;
    border: thin solid black;
}

nav p {
    color: black;
    background-color: aqua;

    margin-top: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav ul a {
    background-color: #00C1C4;
    color: black;

    padding-bottom: 3px;
    padding-top: 3px;
}

nav ul a:hover {
    background-color: #009E9E;
}

.asidetext {
    font-size: 0.75em;
    font-style: italic;
}
